/* CRT taken from https://codepen.io/thisanimus/pen/OJpaqWz */
:root {
	--crt-red: rgb(218, 49, 49);
	--crt-green: rgb(112, 159, 115);
	--crt-blue: rgb(40, 129, 206);
	--mono: "Cascadia Code", "Fira Code", "Consolas", "Courier New", monospace;
}

/* Global */
html {
	font-size: 1.5rem;
	font-family: var(--mono);
	font-weight: 300;
	min-height: 100%;
}

main {
	height: 100vh;
	height: 100dvh;
	color: rgba(255, 255, 255, 0.75);
}

h1 {
	line-height: 2;
	font-weight: 400;
}

h2 {

	color: #999;
	line-height: 1.5;
	font-weight: 300;
}

a {
	text-decoration: none;
	line-height: 1.5;
}

a:hover {
	animation: blinkTextCursor 500ms infinite normal;
}

.wrapper {
	padding-left: 1rem;
	display: inline-block;
	white-space: nowrap;
}

.crt {
	background-color: rgb(25, 25, 30);
	text-shadow:
		0 0 0.2em currentColor,
		1px 1px rgba(255, 0, 255, 0.5),
		-1px -1px rgba(0, 255, 255, 0.4);
	position: relative;
}

.crt:before,
.crt:after {
	content: "";
	transform: translateZ(0);
	pointer-events: none;
	opacity: 0.5;
	mix-blend-mode: overlay;
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 1;
}

.crt:before {
	background: repeating-linear-gradient(var(--crt-red) 0px,
			var(--crt-green) 2px,
			var(--crt-blue) 4px);
}

.crt:after {
	background: repeating-linear-gradient(90deg,
			var(--crt-red) 1px,
			var(--crt-green) 2px,
			var(--crt-blue) 3px);
}

.pink {
	color: pink;
}

.yellow {
	color: yellow;
}

.lightblue {
	color: lightblue;
}

.code {
	color: attr(data-color);
	animation: typewriter 1s steps(14) 1s 1 normal both;
	display: block;
	white-space: nowrap;
	overflow: hidden;
}

.code.print1 {
	animation-delay: 0.2s;
}

.code.print2 {
	animation-delay: 0.8s;
}

.code.print3 {
	animation-delay: 1.8s;
}

.code.print4 {
	animation-delay: 2.2s;
}

.code.print5 {
	animation-delay: 2.6s;
}

.cursor {
	display: inline-block;
	animation: blinkTextCursor 500ms infinite normal;
}

.video-container {
	position: relative;
	padding-bottom: 75%;
	height: 0;
	overflow: hidden;
	width: 100%;
	max-width: 960px;
}

.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video-credits {
	padding-top: 12px;
	font-size: 60%;
}

/* Animation */
@keyframes typewriter {
	from {
		width: 0;
	}

	to {
		width: 100%;
	}
}

@keyframes blinkTextCursor {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}